<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="C:\Users\Multisoftware\Documents\Lucas\MultiTMS\LoginMultiTMS\img\iconTMS.ico" type="image/x-icon">
    <link rel="stylesheet" href="./css/colors.css">
    <link rel="stylesheet" href="./style.css">
    <title>MultiTMS - Acesso ao Sistema</title>
</head>
<body>
    <header>
        <div class="titulos">
            <img src="./img/LogoTMSBrancaLogin.png" alt="">
        </div>
    </header>

    <div class="container">

        <div class="head">
            Acesso ao Sistema
        </div>
        <div class="inpute">
            <section class="first">
                <label for="name">Usuário:</label>
                <input name="name" required>
            </section>


            <section class="second">
                <label for="senha">Senha:</label>
                <input type="password" name="senha">
            </section>


        </div>
        <div class="footere">
            <div class="senha">
                <a href="./html/senha.html"> Esqueci a senha</a>
                <a href="C:\Users\Multisoftware\Documents\Lucas\Multiv2\LoginMultiTMS\html\Cadastro.html">Cadastre-se</a>

            </div>

            <div><button><a href="C:\Users\Multisoftware\Documents\Lucas\Multiv2\LoginMultiTMS\MultiTMS\index.html">Acessar</a></button></div>

        </div>
    </div>
    <script src="https://kit.fontawesome.com/d2ca3dc551.js" crossorigin="anonymous"></script>








</body>
</html>